extends layout

block content
  h1 course plan

  div(class = 'college-div')
    h2 college and year
    div.select
      select(class = 'college-select')
        option(id="")
    div.select.year-select-container
      select.year-select

  
  div(class = 'uni-major')
    div(class = 'uni')
      h2 university
      div.x-container(class = 'row-0')
        div.x
          |x
      div.select(class = 'row-0')
        select(class = 'uni-select row-0')   
      br(class = 'row-0')
    div(class = 'major')
      h2 major
      div.select(class = 'row-0')
        select(class = 'major-select row-0')
      br(class = 'row-0')
      
  div(class = 'btn-container')
    div(class = 'plus')
      |+
      
  button(class = 'find-plan-btn')
    |find plan
  
  div.courses.hidden
    h2 courses
    div.course-boxes
    